@model DEL2.Models.datepick

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPOINTMENT</title>


</head>


<body style="background-image:url(/Background/medback.jpg);background-repeat:no-repeat;
background-size:cover;width:100%;height:100%">
    <div>

        <p style="font-size: 55px;font-family:'Berlin Sans FB'; text-align:center">
            <b>DOCTOR 24</b><br />
            <i style="font-size:18px;font-family:Cambria">Anywhere, Anytime</i>
            <hr />
            <br>


            <h1 style="font-family:Cambria;text-align:center">
                <b><u>Doctor's Information</u></b>

            </h1>
            <br />
            <br />
            <div style="padding:3px; float:left">
                <img src="~/Background/docPic.jpg" alt="Doctor's image" style="width:auto;margin-left:40em" />
            </div>
            <br />
            <div style="border:solid;border-color:darkolivegreen; margin-top:20em;margin-right:60em;padding-left:5em;background-color:cornsilk">
                <p>
                       
            </div>
            <br />

            <br />



            <div style="align-content:center; margin-left:50em; margin-top:-26em">
                @using (Html.BeginForm())
                {
                    <br />
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "datepick" } })

                }
                <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
                <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
                <script>
                    $(function () {
                        $('.datepick').datepicker({
                            dateFormat: 'yy-mm-dd',
                            changeMonth: true,
                            changeYear: true
                        });
                    });
                </script>





                <button type="submit">Submit booked date</button>

                <br />
                <br />
                <button onclick="location.href='@Url.Action("SearchDoc", "MainPage")';">BACK</button>
            </div>
</body>
</html>
