
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAQs</title>
</head>
<body>
    <div>
        <p>
            Frequently asked questions:
            <br />
        </p>
        <ul>
            <li>What do I have to do as a patient in order to use on Doctor24?</li>
            <li>
                <a href="Register as a Patient then you'll be able to search for doctors and make appointments."> </a>
                <br />
            </li>
            <li>How do I know which patients have made appointments with me?</li>
            <li>
                <a href="View patients that have requested to have an appointment with you."> </a>
                <br />
            </li>
        </ul>
    </div>
</body>
</html>
