
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <h2>Login</h2>
            <input type="text" name="Username" placeholder="Username" />
            <input type="password" name="Password" placeholder="Password" />
            <input type="submit" value="Login" />
            <input type="button" value="Forgot password" />

        }
    </div>

</div>

