@model List<DEL2.Models.PATIENT>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PatientRegistration</title>
    </head>
    <body style="background-image:url(/Background/medback.jpg);background-repeat:no-repeat;
background-size:cover;width:100%;height:100%">
        <div style="text-align:center">
            <b style="font-size:45px;font-family:'Berlin Sans FB'">DOCTOR24</b>
            <br />
            <i style="font-family:'Bahnschrift';font-size:14px">ANYWHERE,ANYTIME</i>
            <hr />
            <br />
        </div>
        <div style="text-align:center;@Html.EditorFor(m=>m)">



            @using (Html.BeginForm("PatientRegistration", "Data", FormMethod.Post))
            {
                <label style="font-family:Arial; font-size:15px">First Name</label>
                @Html.TextBox("name", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px">Surname</label>
                @Html.TextBox("surname", new { @class = "form-control", @type = "text" });
                <br />


                <br />
                <label style="font-family:Arial; font-size:15px">ID Number</label>
                @Html.TextBox("IDNumber", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px">CellphoneNo</label>
                @Html.TextBox("cellphone", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px">Email address</label>
                @Html.TextBox("email", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px">Password</label>
                @Html.TextBox("password", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px">Confirm Password</label>
                @Html.TextBox("confirmpassword", new { @class = "form-control", @type = "text" });
                <br />
                <br />
                <label style="font-family:Arial; font-size:15px"><i>Please check your past sicknesses from the options below: </i></label>
                <br />
                <br />
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Dentistry</label>
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Padeatrics</label>
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Dermatology</label>
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Addiction</label>
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Gastrointestinal</label>
                @Html.CheckBox("SICKNESS")
                <label style="font-family:Arial; font-size:15px">Other</label>



                <br />
                <br />
                <br />

                <input type="radio" name="termsandconditions" value="Terms">
                <label style="font-family:Arial; font-size:10px;color:red">I have read and accepted the terms and conditions and will await a confirmation email from Doctor 24</label>





                <br />
                <br /><br /><br />
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SearchDoc", "MainPage")'">SIGN UP</button>
            }

            <div>
            </div>
    </body>
</html>
